<h5>
  Fill the car's card
</h5>
<form>
  <div class="form-group">
    <label for="brand">Brand</label>
    <select name="brand" id="brand" class="form-control">
      <option selected>Select ...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="" id="model" class="form-control">
      <option selected>Select ...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>


</form>



<!-- <div class="input-group mb-4">

  <label class="input-group-text" for="brand">Brand</label>
  <select class="custom-select" id="brand">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div class="input-group mb-4">
  <label class="input-group-text" for="model">Model</label>
  <select class="custom-select" id="model">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div class="input-group mb-4">
  <label class="input-group-text" for="year">Year</label>
  <select class="custom-select" id="year">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div> -->